{% extends "base/base.html" %}

{% block content %}
<div class="hero" style="background: linear-gradient(to right, #023E8A, #00B4D8); padding: 2rem 0; color: white; margin-bottom: 3rem;">
  <div class="container" style="max-width: 1200px; margin: 0 auto; padding: 0 20px;">
    <h1 style="color: white; margin: 0; font-size: 2.5rem;">Kategori</h1>
  </div>
</div>

<div class="container mt-5">
  <h2 class="mb-4">Update Kategori</h2>
  <form method="POST" enctype="multipart/form-data">
   {% csrf_token %}

    <div class="mb-4">
      <label for="nama_kategori" class="form-label">Nama Kategori</label>
      <input type="text" id="nama_kategori" value="{{ getkategori.nama_kategori }}" name="nama_kategori" class="form-control" required>
    </div>

    <div class="mb-4">
        <button type="submit" class="btn btn-primary">Perbarui</button>
        <a href="{% url 'read_kategori' %}" class="btn btn-secondary">Batal</a>
    </div>

  </form>
</div>

<style>
form label {
  font-weight: bold;
}
</style>
{% endblock content %}

